<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1>Angular Crud</h1>
        <div class="d-flex">
            <button class="btn btn-success" type="button" data-toggle="modal" (click)="addPopup()"
                data-target="#exampleModal">Add Person</button>
        </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th>Name</th>
            <th>Mobile number</th>
            <th>Email</th>
            <th>Discription</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Language</th>
            <th>Country</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of listUsers.data">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.MobileNumber}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.Description}}</td>
            <td>{{user.DOB}}</td>
            <td>{{user.Gender}}</td>
            <td>{{user.Language}}</td>
            <td>{{user.country}}</td>


            <td><button class="btn btn-info" (click)="edit(user.id)" data-toggle="modal"
                    data-target="#exampleModal">Edit</button>&nbsp;
                <button class="btn btn-danger mx-2s" (click)="deletePopup(user.id)" data-toggle="modal"
                    data-target="#exampleModalCenter">Delete</button>
            </td>
            <!-- <td><button class="btn btn-info"  (click)="edit()" data-toggle="modal" data-target="#exampleModal1">Edit</button>
                <button class="btn btn-danger mx-2s"  data-toggle="modal">Delete</button></td> -->
        </tr>
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Person details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue" (submit)="add()">

                    <!-- <div class="form-group">
                    <label for="id">Id</label>
                    <input type="text" class="form-control" id="FirstName"  placeholder="enter id" formControlName="id">
                  </div> -->
                    <!--first name-->
                    <div class="form-group">
                        <label for="name">First Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter FirstName" trolName="id"
                            autocomplete="off" formControlName="name">
                    </div>
                    <!--mobile-->
                    <div class="form-group">
                        <label for="mobile number">Mobile Number</label>
                        <input type="number" class="form-control" id="mobile" placeholder="Enter MobileNumber"
                            trolName="id" autocomplete="off" formControlName="MobileNumber">
                    </div>
                    <!--email-->
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="Email" class="form-control" id="Email" placeholder="Enter email" trolName="id"
                            autocomplete="off" formControlName="Email">
                    </div>
                    <!--description-->
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <input type="text" class="form-control" id="Description" placeholder="Description" trolName="id"
                            autocomplete="off" formControlName="Description">
                    </div>
                    <!--dob-->
                    <div class="form-group">
                        <label for="DOB">DOB</label>
                        <input type="date" class="form-control" id="DOB" autocomplete="off" placeholder="DOB"
                            trolName="id" formControlName="DOB">
                    </div>
                    <!--gender-->
                    <div class="form-group ">
                        <label class="" for="Gender">Gender </label>
                        <div class="form-check form-check-inline ml-2">
                            <input class="form-check-input" type="radio" name="Gender" id="inlineRadio1" value="Male"
                                formControlName="Gender">
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline ml-2">
                            <input class="form-check-input" type="radio" name="Gender" id="inlineRadio2" value="female"
                                formControlName="Gender">
                            <label class="form-check-label" for="inlineRadio2">female</label>
                        </div>
                        <div class="form-check form-check-inline ml-2">
                            <input class="form-check-input" type="radio" name="Gender" id="inlineRadio3" value="0thers"
                                formControlName="Gender">
                            <label class="form-check-label" for="inlineRadio3">others</label>
                        </div>
                    </div>
                    <!--country-->

                    <div class="form-group ">
                        <label for="country">Country </label>
                        <select class="form-control" name="country" id="country" formControlName="country">
                            <option value="INDIA" selected>INDIA</option>
                            <option value="USA">USA</option>
                            <option value="UK">UK</option>
                            <option value="LONDON">LONDON</option>
                        </select>
                    </div>



                    <!--language-->

                    <div class="form-group">
                        <label for="form-check-label">Language </label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="Language" id="Language" value="Hindi"
                                formControlName="Language">
                            <label class="form-check-label" for="inlinecheck1">Hindi</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="Language" id="Language"
                                value="English" formControlName="Language">
                            <label class="form-check-label" for="inlinecheck2">English</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="Language" id="Language" value="Telugu"
                                formControlName="Language">
                            <label class="form-check-label" for="inlinecheck3">Telugu</label>
                        </div>
                    </div>
                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->

                    <div class="text-center">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">save</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<!--Button trigger modal -->


<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
            <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">edit user</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                   <label for="name">First Name</label>
                   <input type="text" class="form-control" id="name"  placeholder="Enter FirstName" formControlName="name">
                </div> 
               <div class="form-group">
                    <label for="Email">Email address</label>
                    <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="Email">
                </div>
                <div class="form-group">
                    <label for="MobileNumber">Mobile Number</label>
                    <input type="number" class="form-control" id="MobileNumber"  placeholder="Enter MobileNumber" formControlName="MobileNumber">
                </div> 
            </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
            </div>
       </div>
    </div>
  </div> -->

<!--delete popup-->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> do you want to delete person details ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="delete()">delete</button>
            </div>
        </div>
    </div>
</div>